body {
  color: black;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  
}

#editor,
#preview {
  border: 1px solid black;
  width: 400px;
  height: 200px;
  background-color: white;
  overflow: scroll;
}