body {
  color: black;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#editor {
  width: 500px;
  height: 250px;
}
#preview {
  width: 600px;
  height: 300px;
}

#editor,
#preview {
  border: 1px solid black;
  background-color: white;
  overflow: scroll;
}